[submodule "foundry/transparent/lib/forge-std"]
	path = foundry/transparent/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry/transparent/lib/openzeppelin-contracts-upgradeable"]
	path = foundry/transparent/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "foundry/transparent/lib/openzeppelin-foundry-upgrades"]
	path = foundry/transparent/lib/openzeppelin-foundry-upgrades
	url = https://github.com/OpenZeppelin/openzeppelin-foundry-upgrades
[submodule "foundry/uups/lib/forge-std"]
	path = foundry/uups/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry/uups/lib/openzeppelin-contracts-upgradeable"]
	path = foundry/uups/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "foundry/uups/lib/openzeppelin-foundry-upgrades"]
	path = foundry/uups/lib/openzeppelin-foundry-upgrades
	url = https://github.com/OpenZeppelin/openzeppelin-foundry-upgrades
